// Colors
$primary-color: #800066;
$secondary-color: #ff0000;
$body-color: #282828;
$header-color: $primary-color;
$base: #F7F6F0;

// Font families
$header-font: 'Trebuchet MS', Helvetica, sans-serif;
$body-font: Arial, Helvetica, sans-serif;